#gradients-div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 1px black;
    margin: 50% auto;

    /* gradients */
    /* background-image: linear-gradient(90deg, #ff0000 30%, green 40%, blue 60%, #ffff00 70%); */
    /* background-image: repeating-linear-gradient(90deg, #ff0000 10%,#ffff00 35%); */
    background-image: radial-gradient(farthest-corner at 100px 100px, red, yellow);
    /* background-image: repating-radial-gradient(red 20%, yellow 40%); */
}

#shadow-h1 {
    font-size: 200px;
    text-align: center;
    color: red;

    /*text-shadow: 10px, 5px, 15px, grey */
    text-shadow: 1px 0 1px brown, -1px 0 1px brown, 0 1px 1px brown, 0 -1px 1px brown;
}

#shadow-div{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: 20px auto;

    box-shadow: 10px 20px 10px lime, -10px -20px 0px red;
}

button{
    margin: 20px;
    padding: 15px 20px;
    font-size: large;
    border-radius: 15px;

    background-image: linear-gradient();
}